<!-- information.html -->
{% extends 'base.html' %}

{% block content %}

<h2 class="card-title m-4">Contact Us</h2>
<div class="col-md-12">
    <div class="card p-0">
        <div class="card-body">
            <h4>Developer</h4>
            <ul>
                <li>Name: Mr. Chonsawat Nakanam</li>
                <li>Email: <a href="chonsawat.nakanam@kkumail.com">chonsawat.nakanam@kkumail.com</a></li>
            </ul>

            <ul>
                <li>Name: Ms. Chanisara Sangsai</li>
                <li>Email: <a href="chanisara_sa@kkumail.com">chanisara_sa@kkumail.com</a></li>
            </ul>

            <h4>Project Advisor</h4>
            <ul>
                <li>Name: Mr. Thanaphon Tangchoopong</li>
                <li>Email: <a href="thanaphon@kku.ac.th">thanaphon@kku.ac.th</a></li>
            </ul>

            <div>Institution: Department of Computer Science, College of Computing, Khon Kaen University</div>

        </div>

    </div>
</div>

{% endblock %}